{% if ea.crud.currentAction == 'detail' %}
    <table class="table datagrid ">
        <thead>
        <tr>
            <th>Image</th>
            <th>Blur</th>
            <th>Uid (ID)</th>
            <th>Type</th>
        </tr>
        </thead>
        {% for item in field.value %}
            {% set html_id = 'ea-lightbox-' ~ item.uid ~ '-' ~ loop.index %}
            {% set image = item.getPreviewUrlCrud %}
            {% set blur = item.getBlurUrlCrud %}
            <tr>
                <td>
                    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
                        <img src="{{ image }}" class="img-fluid">
                    </a>

                    <div id="{{ html_id }}" class="ea-lightbox">
                        <img src="{{ image }}">
                    </div>
                </td>
                <td>
                    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}_blur">
                        <img src="{{ blur }}" class="img-fluid">
                    </a>

                    <div id="{{ html_id }}_blur" class="ea-lightbox">
                        <img src="{{ blur }}">
                    </div>
                </td>
                <td>
                    {{ item.uid }}
                </td>
                <td>
                    {{ item.type }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ field.formattedValue }}
{% endif %}