{% extends "mail/layout/template.html.twig" %}

{% block hidden %}
    Your password reset request for Purple Box account
{% endblock %}

{% block h1 %}
    Your password reset request
{% endblock %}

{% block h2 %}
    Dear, {{ name }}
{% endblock %}

{% block body %}
    <tr>
        <td valign="top" align="left" style="text-align:left;padding:0px 20px;" class="padding1">
            <p class="dynamic" style=" margin:0px; font-family:Arial,sans-serif; font-size:16px; line-height:24px; color:#000000; font-weight: 400; ">
                We hope this message finds you well. It has come to our attention that you may have encountered difficulty accessing your account. To assist you in resolving this issue, we have initiated a password reset process for your account.
            </p>
        </td>
    </tr>
    <tr>
        <td height="8" style="font-size:12px; line-height:8px;">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top" align="left" style="text-align:left;padding:0px 20px;" class="padding1">
            <p class="dynamic" style=" margin:0px; font-family:Arial,sans-serif; font-size:16px; line-height:24px; color:#000000; font-weight: 400; ">
                Please click on the following button to reset your password.
            </p>
        </td>
    </tr>
    <tr>
        <td height="8" style="font-size:12px; line-height:8px;">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top" align="left" style="text-align:left;padding:0px 20px;" class="padding1">
            <p class="dynamic" style=" margin:0px; font-family:Arial,sans-serif; font-size:16px; line-height:24px; color:#FFFFFF; font-weight: 400; ">
                <!--[if mso]>
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ api_project_domain }}/api/user/check-reset-password-token/{{token}}" style="height:60px;v-text-anchor:middle;width:190px;" arcsize="5%" strokecolor="#0a66c2" fillcolor="#0a66c2">
                        <w:anchorlock/>
                        <center style="color:#FFFFFF;font-family:Arial,sans-serif;font-size:16px;font-weight: 700;">
                            Reset password
                        </center>
                    </v:roundrect>
                    <![endif]-->
            </p>
                <a
                        class="dynamicbutton"
                        href="{{ api_project_domain }}/api/user/check-reset-password-token/{{token}}"
                        style="background-color:#0a66c2!important;border:1px solid #0a66c2!important;border-radius:40px;color:#FFFFFF!important;display:block;font-family:Arial,sans-serif;font-size:16px;line-height:60px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;"
                        target="_blank"
                        name="link_button"
                >
                    <h3 class="dynamic" style="font-family:Arial,sans-serif;font-size:16px; color:#FFFFFF!important; font-weight: 700; line-height:100%; margin: 21px 0 22px;">
                        Reset password
                    </h3>
                </a>
        </td>
    </tr>
    <tr>
        <td height="8" style="font-size:12px; line-height:8px;">&nbsp;</td>
    </tr>
    <tr>
        <td valign="top" align="left" style="text-align:left;padding:0px 20px;" class="padding1">
            <p class="dynamic" style=" margin:0px; font-family:Arial,sans-serif; font-size:16px; line-height:24px; color:#000000; font-weight: 400; ">
                This link expire in {{ expirationMessageKey|trans(expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
        </td>
    </tr>
{% endblock %}

{% block bottom_button %}
{% endblock %}