{% if ea.crud.currentAction == 'detail' %}
    <table class="table datagrid ">
        <thead>
        <tr>
            <th>Content</th>
            <th>Type</th>
        </tr>
        </thead>
        {% for key, attach in field.value %}
            <tr>
                <td>
                    {% if (attach.type == 'image') %}
                        <img src="{{ attach.image_url }}" height="200">
                    {% endif %}
                    {% if (attach.type == 'audio') %}
                        <source src="{{ attach.asset_url }}" type="audio/mpeg">
                        <audio src="{{ attach.asset_url }}" controls >
                            <code> Your browser doesn't support audio tags</code>
                        </audio>
                    {% endif %}
                    {% if (attach.type == 'video') %}
                        <video id="v{{ key }}" class="video-js vjs-default-skin vjs-9-16" controls loop>
                            <source src="{{ attach.asset_url }}">
                        </video>
                        <script>
                            videojs('#v{{ key }}')
                        </script>
                    {% endif %}

                </td>
                <td>
                    {{ attach.type }}
                </td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ field.formattedValue }}
{% endif %}