{% if ea.crud.currentAction == 'detail' and user.isFan %}
    <table class="table datagrid ">
        <thead>
        <tr>
            <th>ID</th>
            <th>First user</th>
            <th>Second user</th>
            <th>Messages</th>
            <th>Without Answer</th>
            <th>Paying</th>
            <th>Talker</th>
            <th>Last message</th>
        </tr>
        </thead>
        {% for item in chats %}
            {% set chat_url = ea_url().setController('App\\Controller\\Admin\\ChatsCrudController').setAction('detail').setEntityId(item.id) %}
            {% set first_user_url = ea_url().setController('App\\Controller\\Admin\\UserCrudController').setAction('detail').setEntityId(item.getFirstUser.id) %}
            {% set second_user_url = ea_url().setController('App\\Controller\\Admin\\UserCrudController').setAction('detail').setEntityId(item.getSecondUser.id) %}
            <tr>
                <td>
                    <a href="{{ chat_url }}">{{ item.getStreamChannelId }}</a>
                </td>
                <td>
                    <a href="{{ first_user_url }}">{{ item.getFirstUser }}</a>
                </td>
                <td>
                    <a href="{{ second_user_url }}">{{ item.getSecondUser }}</a>
                </td>
                <td>
                    {{ item.getMessagesCount }}
                </td>
                <td>
                    {{ item.isWithoutAnswer ? '<b>yes</b>' : 'no' }}
                </td>
                <td>
                    {{ item.isPaying ? 'yes' : 'no' }}
                </td>
                <td>
                    {{ item.isTalker ? 'yes' : 'no' }}
                </td>
                <td>
                    {{ item.getLastMessageAtFormat }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if ea.crud.currentAction == 'detail' and user.isModel %}
    {% set chats_url = ea_url().setController('App\\Controller\\Admin\\ChatsCrudController').setAction('index') %}
    You need to filter by user in the <a href="{{ chats_url }}">All chats</a>
{% endif %}