{% if ea.crud.currentAction == 'detail' %}
    <table class="table datagrid ">
        <thead>
        <tr>
            <th>Image</th>
            <th>Uid</th>
            <th>Author</th>
            <th>Type</th>
            <th>Status</th>
            <th>Is active</th>
            <th>Images</th>
            <th>Video</th>
            <th>Audio</th>
            <th>Created at</th>
        </tr>
        </thead>
        {% for item in field.value %}
            {% set mystery_box_url = ea_url().setController('App\\Controller\\Admin\\MysteryBoxCrudController').setAction('detail').setEntityId(item.id) %}
            {% set author_url = ea_url().setController('App\\Controller\\Admin\\UserCrudController').setAction('detail').setEntityId(item.user.id) %}
            {% set html_id = 'ea-lightbox-' ~ item.uid ~ '-' ~ loop.index %}
            {% set image = item.getPreview %}
            <tr>
                <td>
                    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
                        {% if 'http' in image %}
                            <img src="{{ image }}" class="img-fluid">
                        {% else %}
                            <img src="{{ api_project_domain }}{{ image }}" class="img-fluid">
                        {% endif %}
                    </a>

                    <div id="{{ html_id }}" class="ea-lightbox">
                        {% if 'http' in image %}
                            <img src="{{ image }}">
                        {% else %}
                            <img src="{{ api_project_domain }}{{ image }}">
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="{{ mystery_box_url }}">{{ item.uid }}</a>
                </td>
                <td>
                    <a href="{{ author_url }}">{{ item.user }}</a>
                </td>
                <td>
                    {{ item.type }}
                </td>
                <td>
                    {{ item.status }}
                </td>
                <td>
                    {% if item.isActive %}<span class="badge badge-success">Active</span>{% endif %}
                </td>
                <td>
                    {{ item.getImageCount }}
                </td>
                <td>
                    {{ item.getVideoCount }}
                </td>
                <td>
                    {{ item.getAudioCount }}
                </td>
                <td>
                    {{ item.createdAtFormat }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ field.formattedValue }}
{% endif %}