{% set content_status_label = {
    'new': 'primary',
    'draft': 'info',
    'u_not_approved': 'success',
    'active': 'success',
    'archive': 'secondary',
    'deleted': 'dark',
    'blocked': 'danger',
} %}

{% if ea.crud.currentAction == 'detail' %}
    <table class="table datagrid ">
        <thead>
            <tr>
                <th>Image</th>
                <th>Uid</th>
                <th>Challenge (ID)</th>
                <th>Status</th>
                <th>Is active</th>
                <th>Views</th>
                <th>Votes</th>
                <th>Createed at</th>
            </tr>
        </thead>
        {% for item in field.value %}
            {% set conten_url = ea_url().setController('App\\Controller\\Admin\\ContentCrudController').setAction('detail').setEntityId(item.id) %}
            {% set challenge_url = item.challenge ? ea_url().setController('App\\Controller\\Admin\\ChallengeCrudController').setAction('detail').setEntityId(item.challenge.id) : '' %}
            {% set status_label = content_status_label[item.status] is defined ? content_status_label[item.status] : 'default' %}
            {% set html_id = 'ea-lightbox-' ~ item.uid ~ '-' ~ loop.index %}
            {% set image = item.getMediaPreviewUrl %}
            <tr>
                <td>
                    <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
                        {% if 'http' in image %}
                            <img src="{{ image }}" class="img-fluid">
                        {% else %}
                            <img src="{{ api_project_domain }}{{ image }}" class="img-fluid">
                        {% endif %}
                    </a>

                    <div id="{{ html_id }}" class="ea-lightbox">
                        {% if 'http' in image %}
                            <img src="{{ image }}">
                        {% else %}
                            <img src="{{ api_project_domain }}{{ image }}">
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="{{ conten_url }}">{{ item.uid }}</a>
                </td>
                <td>
                    {% if item.challenge %}
                        <a href="{{ challenge_url }}">{{ item.challenge }}</a> ({{ item.challenge.id }})
                    {% else %}
                        deleted
                    {% endif %}
                </td>
                <td>
                    <span class="badge badge-{{ status_label }}">{{ item.status }}</span>
                </td>
                <td>
                    {% if item.isActive %}<span class="badge badge-success">Active</span>{% endif %}
                </td>
                <td>
                    {{ item.viewedCount }}
                </td>
                <td>
                    {{ item.votesCount }}
                </td>
                <td>
                    {{ item.createdAtFormat }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ field.formattedValue }}
{% endif %}