{% if ea.crud.currentAction == 'detail' %}
    <table class="table datagrid ">
        <thead>
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Message</th>
            <th>Attach</th>
            <th>Is auto</th>
            <th>Status</th>
            <th>Date-time</th>
        </tr>
        </thead>
        {% for item in field.value %}
            {% set message_url = ea_url().setController('App\\Controller\\Admin\\ChatMessagesCrudController').setAction('detail').setEntityId(item.id) %}
            {% set image = item.user.getAvatarCropUrl %}
            <tr>
                <td>
                    <a href="{{ message_url }}">{{ item.id }}</a>
                </td>
                <td>
                    <img src="{{ item.user.getAvatarCropUrl ? item.user.getAvatarCropUrl : item.user.getAvatarUrl }}" width="20" height="20"> {{ item.user.getUsername}}
                </td>
                <td>
                    {{ item.text }}
                </td>
                <td>
                    {% for key,attach in item.getAttachments %}

                        {% if (attach.type == 'image' and attach.image_url is defined) %}
                            <img src="{{ attach.image_url }}" height="200">
                        {% endif %}

                        {% if (attach.type == 'audio') %}
                            <source src="{{ attach.asset_url }}" type="audio/mpeg">
                                <audio src="{{ attach.asset_url }}" controls >
                                    <code> Your browser doesn't support audio tags</code>
                                </audio>
                        {% endif %}

                        {% if (attach.type == 'video') %}
                            <video id="v{{ key }}" class="video-js vjs-default-skin vjs-9-16" controls loop>
                                <source src="{{ attach.asset_url }}">
                            </video>
                            <script>
                                videojs('#v{{ key }}')
                            </script>
                        {% endif %}

                    {% endfor %}
                </td>
                <td>
                    {{ item.isAutoMessage ? 'yes' : 'no' }}
                </td>
                <td>
                    {{ item.status }}
                </td>
                <td>
                    {{ item.createdAtFormat }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    {{ field.formattedValue }}
{% endif %}